html, body {
    margin:0px;
    height:100%;
    font-family: Rubik;
font-style: normal;
font-weight: normal;
  }
#footer1 {
  background-color: #ffffff; /* Set the background color to white */
  color: #000000; /* Set the text color to black */
  padding: 20px; /* Add padding for better spacing */
}

.portrait {
    display: inline-block;
    width: 20%;
    height: 60%;
    position: absolute;
    right: 0;
    top: 5%; /* Adjust the top value to move the box closer to the top */
    background-color: lightgray;
    border-radius: 10px; /* Adjust the border-radius value for the desired level of rounding */
    overflow: hidden; /* Ensure the rounded corners are applied to the image */
}
.portrait img {
    width: 100%; /* Ensure the image takes the full width of the container */
    height: 100%; /* Ensure the image takes the full height of the container */
    object-fit: cover; /* Preserve aspect ratio while covering the container */
    border-radius: 10px; /* Apply rounded corners to the image */
}
.resimage{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 9%;
    left: 5%;
    right: 5%;
}

.fa {
  padding: 30px;
  font-size: 50px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
  position: absolute;
  top: 50%;
  left: 40%;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  position: absolute;
  top: 50%;
  left: 45%;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
}
.fa-envelope {
  background: #007bb5;
  color: white;
  position: absolute;
  top: 50%;
  left: 55%;
}


.main_section {
    width: 100%;
    height: 100%;
    position:relative;
    text-align:center
    background-size: cover; /* or background-size: contain; */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}
.bigtext1{
position: absolute;
  top: 3%;
  left: 0;
  text-align: center;
  font-size: 500%;
  width: 100%;
  color: #FFFFFF;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
}
.maintext{
    position: absolute;
  top: 17%;
  left: 0;
  text-align: center;
  font-size: 30px;
  display: flex;
  left: 25%;
  right: 25%;
display: inline; /* Make the link appear inline */

  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}
.bigtext2{
position: absolute;
  top: 25%;
  left: 0;
  text-align: center;
  font-size: 500%;
  width: 100%;
  color: #000000;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
}
.maintext2{
    position: absolute;
  top: 20%;
  left: 0;
  text-align: center;
  font-size: 30px;
  display: flex;
  left: 25%;
  right: 25%;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}
.subtitle{
    position: absolute;
  left: 0;
  text-align: left;
  font-size: 15px;
  display: flex;
  left: 10%;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}
.paper_title{
    position: absolute;
  left: 0;
  text-align: left;
  font-size: 12px;
  display: flex;
  left: 10%;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}

.background-section {
            background-image: url("imgs/DSC01011.JPG"); /* Replace 'your-image.jpg' with the path to your image */
            background-size: cover;
            background-position: center;
            height: 100vh; /* Adjust the height as needed */
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;
        }

        .content-box {
            background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value for transparency */
            padding: 20px;
            width: 65%;
            color: black;
            border-radius: 10px;
        }
.content-box ul {
            list-style: none;
            padding: 0;
        }

        .content-box li {
            margin-bottom: 10px; /* Adjust the spacing between list items */
        }



#who {
    /*background: url("imgs/DSC01011.JPG") no-repeat center center fixed;*/
    background: url("imgs/DSC03219_04.jpg") no-repeat center center fixed;
    /*background: url("imgs/DSC01011.jpg") no-repeat center center fixed;*/

    background-size: cover;
}
#works {
    background: url("imgs/DSC02316.jpg") no-repeat center center fixed;
    background-size: cover;
}
#title {
    background: url('imgs/DSC03219_04.jpg') no-repeat center center fixed;
    background-size: cover;
}
 #titletext{
      position: absolute;
  top: 40%;
  left: 30;
}
#contact {
  background: url("imgs/DSC01151.JPG") no-repeat center center fixed;

  background-size: cover;
}
#twitter {
  position: absolute;
  top: 40%;
  left: 30;
}
.logobig {
  display: inline-block;
  width: 20%;
  height: 12%;
  position:absolute;
  right: 40%;
  top: 60%;
}
.portrait img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}   



  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



  

@media only screen and (max-width:768px) {
    /* For mobile phones: */
    .body {
      width: 100%;
      height: 100%;
    }
    .slider{
        width: 80%;
    }
    .bigtext1{
        font-size: 200%;
    }
    .maintext{
        font-size: 60%;
    }
    .portrait{
        width: 20%;
        height: 20%;
        position:absolute;
        right: 0;
        top: 20%;
    }
    .slides > div {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 100%;
        margin-right: 20%;
        border-radius: 10%;
        margin-right: 10%;
        border-radius: 10%;
        font-size: 800%;
  }
    .slider {
        width: 40%;
        right: 30%;
    }
      .slides::-webkit-scrollbar {
        width: 10%;
        height: 10%;
      }
      .slide2 img {
        position: relative;
        width: 100%;
        height: 100%;
      }
      .fa {
        padding: 1%;
        font-size: 50px;
        width: 11%;
        text-align: center;
        text-decoration: none;
        margin: 5px 5px;
        border-radius: 50%;
      }
      .fa-twitter {
        background: #55ACEE;
        color: white;
        position: absolute;
        top: 50%;
        left: 28%;
      }
      .fa-youtube {
        background: #bb0000;
        color: white;
        position: absolute;
        top: 50%;
        left: 39%;
      }
      .fa-linkedin {
        background: #007bb5;
        color: white;
        position: absolute;
        top: 50%;
        left: 51%;
      }
      .fa-envelope {
        background: #007bb5;
        color: white;
        position: absolute;
        top: 50%;
        left: 62%;
      }
      .logobig{
        width: 40%;
        
      }
      
}

